<html>

<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalhe de Parcelas</h5>
                <button type="button" onclick="FecharModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" onclick="FecharModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
    function abrirModalDetalhe(id, controller, action) {
        let url = "/" + controller + "/" + action
        $.ajax({
            url: url,
            type: "POST",
            data: { pId: id },
            async: false,
            success: function (retorno) {
                $("#partialModal").find(".modal-body").html(retorno);
                $("#partialModal").modal('show');
            },
            failure: function (retorno) {
                alert(retorno.responseText);
            },
            error: function (retorno) {
                alert(retorno.responseText);
            }
        });
    }

    function FecharModal() {
        $("#partialModal").modal('hide');
    }

</script>

</html>